{block head}
    <link href="{$basePath}/css/login.css" rel="stylesheet" type="text/css" />
{/block}

{block content}
    <div class="login-box">
        <h1><i class="fa fa-user-plus"></i> Registrace</h1>
        {control registrationForm}
{/block}
