{block head}
    <link href="{$basePath}/css/login.css" rel="stylesheet" type="text/css" />
{/block}

{block content}
    <div class="login-box">
        <h1><i class="fa fa-arrow-right"></i> Přihlášení</h1>
        {control loginForm}
    </div>
{/block}
