{block head}
    <link href="{$basePath}/css/reservationForm.css" rel="stylesheet" type="text/css"/>
{/block}

{block content}
    <div class="reservation-list">
        <div class="head">
            <h1><i class="fa fa-list"></i> Moje rezervace</h1>
        </div>
            {control reservationList}
    </div>
{/block}
