<table>
    <tr>
        <th>Jméno</th>
        <td>{$reservation->getFirstName()}</td>
    </tr>
    <tr>
        <th>Přijmení</th>
        <td>{$reservation->getLastName()}</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>{$reservation->getEmail()}</td>
    </tr>
    <tr>
        <th>Telefon</th>
        <td>{$reservation->getPhone()}</td>
    </tr>
</table>
