{block head}
    <link href="{$basePath}/css/eventEdit.css" rel="stylesheet" type="text/css"/>
{/block}

{block content}
    <div class="event-box">
        <div class="head">
            <h1><i class="fa fa-edit"></i> Úprava události</h1>
        </div>
        {control eventForm}
    </div>
{/block}
