{block head}
	<link href="{$basePath}/css/hallList.css" rel="stylesheet" type="text/css" />
{/block}

{block content}
	<div class="hall-list">
		<div class="head">
			<h1><i class="fa fa-home"></i> Správa sálů</h1>
		</div>
		<a class="abutton" n:href=":Hall:HallEdit:default">Přidat sál</a>
		{control hallList}
	</div>
{/block}
